@model RentNest.Core.DTO.ChangePasswordDto
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <title>BlueHouse - Reset Password</title>
    <link rel="stylesheet" href="~/css/css/ConfirmEmail.css" />
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
    <div class="container-1 ">
        <h1 class="title-1">Change Password</h1>
        <form asp-controller="Account" asp-action="UpdatePassword" method="post" class="email-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group-1">
                <input asp-for="OldPassword" placeholder="Enter your old password" type="password"
                    class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>

                <input asp-for="NewPassword" placeholder="Enter your new password" type="password"
                    class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <input asp-for="ConfirmPassword" placeholder="Confirm your new password" type="password"
                    class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-submit">Change Password</button>
        </form>

        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: '@Html.Raw(TempData["ErrorMessage"])'
                });
            </script>
        }

        @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
        {
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Đổi mật khẩu thành công!',
                    text: '@Html.Raw(TempData["SuccessMessage"])',
                    timer: 2500,
                    showConfirmButton: false
                }).then(() => {
                    window.location.href = '@Html.Raw(TempData["RedirectUrl"])';
                });
            </script>
        }
        <footer>
            <p>© Change Password Form. All rights reserved | Template by BlueHouse</p>
        </footer>
    </div>
</body>

</html>