@model RentNest.Core.DTO.ChangePasswordDto
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<section class="ftco-section contact-section ftco-no-pb" id="login-section" style="padding: 10em !important">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Đổi mật khẩu</span>
                <h2 style="font-family: system-ui;" class="mb-4">Thiết lập mật khẩu mới</h2>
                <p>Vui lòng đặt lại mật khẩu mới bằng cách điền vào biểu mẫu dưới đây.</p>
            </div>
        </div>
        <div class="row justify-content-center block-9">
            <div class="col-md-7 order-md-last d-flex ftco-animate">
                <form asp-controller="Account" asp-action="UpdatePassword" method="post" class="bg-light p-4 p-md-5 contact-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="OldPassword" placeholder="Nhập mật khẩu cũ" type="password" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger small text-left"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="NewPassword" placeholder="Nhập mật khẩu mới" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger small text-left"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="ConfirmPassword" placeholder="Xác nhận mật khẩu mới" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger small text-left"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                </form>

            </div>
        </div>

    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Lỗi!',
                text: '@Html.Raw(TempData["ErrorMessage"])'
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Đổi mật khẩu thành công!',
                text: '@Html.Raw(TempData["SuccessMessage"])',
                timer: 2500,
                showConfirmButton: false
            }).then(() => {
                window.location.href = '@Html.Raw(TempData["RedirectUrl"])';
            });
        </script>
    }
    </div>
</section>