@{
	ViewData["Title"] = "Về chúng tôi";
}

<section class="ftco-intro img" id="about-section" style="background-image: url(images/bg_1.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 text-center">
				<h2 style="font-family: system-ui;">
					Chọn Phòng Trọ Mơ Ước Của Bạn
				</h2>
				<p>
					Chúng tôi giúp bạn tìm kiếm và quản lý chỗ ở lý tưởng tại Đà Nẵng.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row no-gutters d-flex">
			<div class="px-lg-5 py-md-5">
				<div>
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
							<h2 style="font-size: 31px;" class="mb-4">
								Kết Nối Người Thuê & Chủ Trọ Một Cách Dễ Dàng
							</h2>
							<p>
								Nhu cầu thuê nhà trọ ngày càng tăng, đặc biệt là sinh viên và người lao động trẻ tại
								các thành phố lớn. Tuy nhiên, việc tìm kiếm phòng trọ vẫn gặp nhiều khó khăn như
								thiếu thông tin đáng tin cậy, tốn nhiều thời gian và rủi ro lừa đảo.
							</p>
							<p>
								Stayhome ra đời để giúp kết nối người thuê và chủ nhà trọ một cách minh bạch, nhanh
								chóng và an toàn. Với công nghệ hiện đại, người dùng có thể tìm kiếm phòng trọ theo
								vị trí, giá cả, tiện ích mong muốn và xem đánh giá từ người thuê trước.
							</p>
							<p>
								Bên cạnh đó, hệ thống còn hỗ trợ xác minh thông tin chủ nhà, giảm thiểu rủi ro cho
								người thuê. Chủ trọ cũng dễ dàng tiếp cận khách hàng tiềm năng mà không mất nhiều
								công sức quảng bá. Stayhome – giúp bạn tìm nhà trọ phù hợp dễ dàng hơn bao giờ hết!
							</p>
							<p style="margin-top: 45px;">
								<a href="/danh-sach-phong-tro" class="btn btn-primary py-3 px-4">
									Tìm phòng
									ngay
								</a> <a href="/lien-he" class="btn btn-secondary py-3 px-4">Liên hệ chúng tôi</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-agent" id="agent-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Đội Ngũ Chúng Tôi</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="carousel-agent owl-carousel">
					<div class="item">
						<div class="agent">
							<div style="height: 430px;" class="img">
								<img src="images/hai.jpg" class="img-fluid" alt="Colorlib Template">
								<div>
									<h3>Tôi là Hải</h3>
								</div>
							</div>
							<div class="desc pt-3">
								<div>
									<h3>
										<a style="font-family: system-ui;" href="properties.html">
											Nguyễn Đình Hoàng
											Hải
										</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="agent">
							<div style="height: 430px;" class="img">
								<img src="images/tuan3.jpg" class="img-fluid" alt="Colorlib Template">
								<div>
									<h3>Tôi là Tuấn</h3>
								</div>
							</div>
							<div class="desc pt-3">
								<div>
									<h3>
										<a style="font-family: system-ui;" href="properties.html">
											Nguyễn Minh
											Tuấn
										</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="agent">
							<div style="height: 430px;" class="img">
								<img src="images/tuanminh.jpg" class="img-fluid" alt="Colorlib Template">
								<div>
									<h3>Tôi là Minh</h3>
								</div>
							</div>
							<div class="desc pt-3">
								<div>
									<h3>
										<a style="font-family: system-ui;" href="properties.html">
											Nguyễn Tuấn
											Minh
										</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="agent">
							<div style="height: 430px;" class="img">
								<img src="images/chi.jpg" class="img-fluid" alt="Colorlib Template">
								<div>
									<h3>Tôi là Chi</h3>
								</div>
							</div>
							<div class="desc pt-3">
								<div>
									<h3>
										<a style="font-family: system-ui;" href="properties.html">Trần Quỳnh Chi</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="agent">
							<div style="height: 430px;" class="img">
								<img src="images/maivy.jpg" class="img-fluid" alt="Colorlib Template">
								<div>
									<h3>Tôi là Vy</h3>
								</div>
							</div>
							<div class="desc pt-3">
								<div>
									<h3>
										<a style="font-family: system-ui;" href="properties.html">
											Mai Thị Thùy
											Vy
										</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="agent">
							<div style="height: 430px;" class="img">
								<img src="images/quynh.jpg" class="img-fluid" alt="Colorlib Template">
								<div>
									<h3>Tôi là Quỳnh</h3>
								</div>
							</div>
							<div class="desc pt-3">
								<div>
									<h3>
										<a style="font-family: system-ui;" href="properties.html">
											Hoàng Thị Lệ
											Quỳnh
										</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>