@{
	ViewData["Title"] = "Liên hệ";
}
<section class="ftco-section contact-section ftco-no-pb" id="contact-section" style="padding: 10em !important">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Liên hệ</span>
				<h2 style="font-family: system-ui;" class="mb-4">Liên hệ với chúng tôi</h2>
				<p>
					Chúng tôi luôn sẵn sàng hỗ trợ bạn trong việc tìm kiếm nhà trọ phù hợp một cách nhanh chóng và an
					toàn. Hãy liên hệ ngay để được tư vấn chi tiết!
				</p>
			</div>
		</div>

		<div class="row block-9">
			<div class="col-md-7 order-md-last d-flex ftco-animate">
				<form action="#" class="bg-light p-4 p-md-5 contact-form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Họ và tên">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Nghề nghiệp">
					</div>
					<div class="form-group">
						<textarea name="" id="" cols="30" rows="7" class="form-control"
								  placeholder="Nội dung"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Gửi" class="btn btn-primary py-3 px-5">
					</div>
				</form>

			</div>

			<div class="col-md-5 d-flex">
				<div class="row d-flex contact-info mb-5">
					<div class="col-md-12 ftco-animate">
						<div class="box p-2 px-3 bg-light d-flex">
							<div class="icon mr-3">
								<span class="icon-map-signs"></span>
							</div>
							<div>
								<h3 class="mb-3">Địa chỉ</h3>
								<p>Hòa Hải, Khu Đô Thị FPT, Đại Học FPT</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 ftco-animate">
						<div class="box p-2 px-3 bg-light d-flex">
							<div class="icon mr-3">
								<span class="icon-phone2"></span>
							</div>
							<div>
								<h3 class="mb-3">Số điện thoại</h3>
								<p><a href="tel://1234567920">(+84) 941 673 660</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-12 ftco-animate">
						<div class="box p-2 px-3 bg-light d-flex">
							<div class="icon mr-3">
								<span class="icon-paper-plane"></span>
							</div>
							<div>
								<h3 class="mb-3">Email</h3>
								<p><a href="mailto:info@yoursite.com">bluedream.company@email.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-12 ftco-animate">
						<div class="box p-2 px-3 bg-light d-flex">
							<div class="icon mr-3">
								<span class="icon-globe"></span>
							</div>
							<div>
								<h3 class="mb-3">Website</h3>
								<p><a href="#">bluehouseDaNang.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div id="map" class="bg-white"></div>
</section>

<script src="https://maps.gomaps.pro/maps/api/js?key=@ViewData["GoogleMapsAPIKey"]"></script>
<script>
	function initMap() {
		var geocoder = new google.maps.Geocoder();
		var address = "@ViewData["Address"]";

		var map = new google.maps.Map(document.getElementById("map"), {
			zoom: 15,
			center: { lat: 0, lng: 0 }
		});

		geocoder.geocode({ 'address': address }, function (results, status) {
			if (status === 'OK') {
				map.setCenter(results[0].geometry.location);
				new google.maps.Marker({
					map: map,
					position: results[0].geometry.location,
					title: "Our Location"
				});
			} else {
				console.error("Geocode was not successful: " + status);
			}
		});
	}

	window.onload = initMap;
</script>
