@{
	ViewData["Title"] = "Dịch vụ";
}


<section class="ftco-section ftco-services-2 bg-light" id="services-section" style="padding: 10em !important">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Dịch vụ chúng tôi</h2>
				<p>
					Tận hưởng dịch vụ cho thuê nhà trọ nhanh chóng, tiện lợi với hệ thống hỗ trợ toàn diện.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block">
					<div class="icon justify-content-center align-items-center d-flex">
						<span class="flaticon-pin"></span>
					</div>
					<div class="media-body">
						<h3 style="font-family: system-ui;" class="heading mb-3">
							Tìm trọ dễ dàng, mọi nơi ở Đà Nẵng
						</h3>
						<p>
							Dù bạn đang tìm phòng trọ ở trung tâm thành phố hay khu vực yên tĩnh, hệ thống của chúng
							tôi giúp bạn tìm kiếm nhanh chóng với đầy đủ thông tin chi tiết.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block mt-lg-5 pt-lg-4">
					<div class="icon justify-content-center align-items-center d-flex">
						<span class="flaticon-detective"></span>
					</div>
					<div class="media-body">
						<h3 style="font-family: system-ui;" class="heading mb-3">
							Hỗ trợ bởi đội ngũ chuyên nghiệp
						</h3>
						<p>
							Chúng tôi có đội ngũ hỗ trợ tận tâm, sẵn sàng giúp bạn tìm kiếm, đặt thuê, và giải đáp
							mọi thắc mắc về nhà trọ.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block">
					<div class="icon justify-content-center align-items-center d-flex">
						<span class="flaticon-house"></span>
					</div>
					<div class="media-body">
						<h3 style="font-family: system-ui;" class="heading mb-3">
							Thuê hoặc cho thuê trọ nhanh chóng
						</h3>
						<p>
							Dễ dàng đăng tin cho thuê hoặc tìm phòng trọ phù hợp với nhu cầu của bạn, chỉ với vài
							thao tác đơn giản.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block mt-lg-5 pt-lg-4">
					<div class="icon justify-content-center align-items-center d-flex">
						<span class="flaticon-purse"></span>
					</div>
					<div class="media-body">
						<h3 style="font-family: system-ui;" class="heading mb-3">
							Kiếm thêm thu nhập từ phòng trọ của
							bạn
						</h3>
						<p>
							Nếu bạn có phòng trọ cho thuê, hãy đăng tin ngay để tiếp cận hàng ngàn người thuê tiềm
							năng và tối ưu hóa lợi nhuận.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>